# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Next.js
/.next/
/out/

# Production
/build

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env
.env.*
.env*.local

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Personal directories and system files
../../../../.DS_Store
../../../../.env
../../../../.env.*
../../../../.zshrc
../../../../.bash_profile
../../../../.Trash/
../../../../Library/
../../../../Pictures/
../../../../Downloads/
../../../../Desktop/
../../../../Documents/

# Ignore common personal directories
../Bear_Project/
../Environments/
../Tata/
../common/
node_modules
.next
.env*.local
